input[type] {
    width: 250px;
    padding: 6px;
    border: 1px solid dimgrey;
    border-radius: 4px;
    margin: 6px 0;
    
}

label {
    font-weight: bolder;
}

#arquivo {
    width: 300px;;
}
input[type]:focus {
    background-color: lightgoldenrodyellow;
}